{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container ">
    <h1>{{ post.title }}</h1>
    <small>
        {{post.created_on|date:'d-m-Y H:i'}}
    </small>
    <div>{{ post.body}}</div>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.author }}
            {{ comment.created_on|date:'d-m-Y H:i'}}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
<!--        <h2>Add a new comment</h2>-->
        <form action="." method="post">
            <div class="form-group">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input class="btn btn-primary btn-sm" type="submit" value="Add comment"></p>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}